elevenlabslib==0.3.1
openai==0.27.2
python-dotenv==1.0.0
SpeechRecognition==3.10.0
Django==4.1.7
gunicorn==20.1.0
django-cors-headers==3.14.0
djangorestframework==3.14.0
psycopg2==2.9.5
soundfile==0.12.1
sounddevice==0.4.6
PyAudio==0.2.13